{% extends "base.html" %} {% block main %}

<!--contents-->
<p class="text-center h4">Feel Free to Check Your Phishing Email</p>
<div class="form-outline">
    <form action="#" method="post">
        <textarea class="form-control" id="textAreaExample" rows="10" name="email" placeholder="Enter Your Email"></textarea>
        <input type="submit" class="btn btn-outline-success my-2 p-2" style="color: aliceblue;font-weight: bold;" value="Detect">
    </form>
</div>

<div class="prediction">
    {% if rs == 0 %}
    <p class="text-danger text-center" style="font-size: larger;"><b>{{ s }}<br>{{ c }}</b></p>
    {% else %}
    <p class="text-success text-center" style="font-size: larger;"><b>{{ s }}<br>{{ c }}</b></p>
    {% endif %}
</div>

{% endblock %}