{% extends "base.html" %} {% block main %}

<!--contents-->
<!-- <div class="container"> -->
<p class="text-center h4">Feel Free to Check Your Spam Email</p>
<div class="form-outline">
    <form method="post">
        <textarea class="form-control" id="textAreaExample" name="email" rows="10" placeholder="Enter Your Email"></textarea>
        <input type="submit" class="btn btn-outline-success my-2 p-2" style="color: aliceblue;font-weight: bold;" value="Detect">
    </form>
</div>

<div class="prediction">
    {% if rs == 1 %}
    <p class="text-danger text-center" style="font-size: larger;"><b>{{ s }}<br>{{ c }}</b></p>
    {% else %}
    <p class="text-success text-center" style="font-size: larger;"><b>{{ s }}<br>{{ c }}</b></p>
    {% endif %}
</div>
{% endblock %}